body {
  margin: 0;
  background: #fffefb;
  color: #222;
  font-family:
    "M PLUS Rounded 1c",sans-serif;
    overflow-x: hidden;

}

.letter {
  max-width: 680px;
  margin: 0 auto;
  padding: 40px 20px 80px;
  line-height: 1.9;
  font-size: 17px;
}

h1 {
  font-size: 23px;
  font-weight: 600;
  margin-bottom: 40px;
}

p {
  margin: 0 0 32px;

}

h2 {
  font-size: 19px;
  font-weight: 700;
  margin-bottom: 10px;
}

.big {
  font-size: 200px;
line-height: 1; 
padding-top: 500px;
padding-bottom: 40px;
 overflow-wrap: anywhere;
  word-break: break-word; 

}

.photos {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0;
  margin: 0;
}

.photos figure {
  margin: 0;
text-align: center;
}

.photos img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}
figcaption {
  margin-top: 8px;
margin-bottom: 30px;
  font-size: 13px;
  color: #666;
}

.kaiwa {
  margin: 48px 0;
  text-align: center;
}

.kaiwa figure {
  margin: 0;
text-align: center;
}

.kaiwa img {
  width: 100%;
  max-width: 100%;
  height: auto;
}




.syouko {
  margin: 48px 0;
  text-align: center;
}

.syouko figure {
  margin: 0;
text-align: center;
}

.syouko img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

figcaption {
  margin-top: 4px;
margin-bottom: 30px;
  font-size: 13px;
  color: #666;
}


.koukoku {
  display: grid;
  grid-template-columns: 1fr;
  gap: 14px;
  margin: 0;
}

.koukoku figure {
  margin: 14px;
text-align: center;
}

.koukoku img {
  width: 100%;
  max-height: 100%;
  width: auto;
  display: block;
}
.koukoku figcaption {
  margin-top: 10px;
margin-bottom: 15px;
  font-size: 17px;
color: #222;

}
.atyo {
  margin: 12px 0;
  text-align: center;
}

.atyo figure {
  margin: 14px;
text-align: center;
}

.atyo img {
  height: 100%
  max-height: 100%;
  width: auto;
  display: block;
}

.onesans {
  margin: 48px 0;
  text-align: center;
}

.onesans img {
 width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

figcaption {
  margin-top: 8px;
margin-bottom: 30px;
  font-size: 13px;
  color: #666;
}

.sign {
  margin-top: 64px;
  text-align: right;
}
