body {
  margin: 0;
  background: #fffefb;
  color: #222;
  font-family:
    "M PLUS Rounded 1c",sans-serif;
    overflow-x: hidden;

}

.letter {
  max-width: 680px;
  margin: 0 auto;
  padding: 40px 15px 80px;
  line-height: 1.8;
  font-size: 17px;
}

h1 {
  font-size: 23px;
  font-weight: 600;
  margin-bottom: 40px;
}

p {
  margin: 0 0 10px;

}

h2 {
  font-size: 19px;
  font-weight: 700;
 margin-top: 30px;
  margin-bottom: 10px;
}

.big {
  font-size: 200px;
line-height: 1; 
padding-top: 500px;
padding-bottom: 40px;
 overflow-wrap: anywhere;
  word-break: break-word; 

}

.photos {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0;
  margin: 0;
}

.photos figure {
  margin: 0;
text-align: center;
}

.photos img {
  max-width: 100%;
  height: auto;
  display: block;
}
.photos figcaption {
  margin-top: 8px;
  font-size: 13px;
  color: #666;
}

.kaiwa {
  text-align: center;
  margin: 0;
}

.kaiwa img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}


.do {
text-align: center;
  margin: 0;
}

.do img {
  max-width: 80%;
  height: auto;
  display: block;
}

.do figcaption {
  margin-top: 8px;
  font-size: 13px;
  color: #666;
}



.syouko {
  text-align: center;
 margin: 0;
}

.syouko img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

.syouko figcaption {
  margin-top: 8px;
  font-size: 13px;
  color: #666;
}


.koukoku {
  display: grid;
  grid-template-columns: 1fr;
  gap: 14px;
  margin: 0;
}

.koukoku figure {
  margin: 0;
text-align: center;
}

.koukoku img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

.koukoku figcaption {
  margin-top: 10px;
  font-size: 17px;
color: #222;

}
.atyo {
text-align: center;
  margin: 0;
}

.atyo img {
  max-width: 100%;
  height: auto;
}

.onesans {
  text-align: center;
}

.onesans img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.onesans figcaption {
  margin-top: 8px;
  font-size: 13px;
  color: #666;
}

.sign {
  text-align: right;
}
